.button {
  font-family: $primary;
  background-color: $green-color;
  color: $white-color;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 3.429;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    transition: all 0.5s ease-in-out;
  }

  &--portfolio {
    line-height: 1.25;
  }

  &:hover {
    background-color: $white-color;
    color: $green-color;
    border: 1px solid;
  }

  &--work {
    color: $green-color;

    &:hover {
      background-color: $green-color !important;
      color: $white-color;
      border: 1px solid $white-color;
      transition: all 0.5s ease-in-out;
    }
  }

  &--form {
    width: 25%;
    border: 1px solid $secondary-color;
    border-left: none;
  }
}
