// fonts
$primary: 'Montserrat', sans-serif;
$secondary: 'Open Sans', sans-serif;

// colors
$primary-color: #60606e;
$secondary-color: #999999;
$white-color: #ffffff;
$green-color: #7beec7;
$placeholder-color: #cdcdcd;
$footer-color: #9a9a9a;
