.work {
  background-color: $green-color;

  &__title {
    font-family: &primary;
    color: $white-color;
    font-size: 1.875rem;
    line-height: 1.6;
    text-align: left;
  }

  &__form-title {
    font-family: $primary;
    color: $primary-color;
  }

  &__form-text {
    font-family: $secondary;
    color: $secondary-color;
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
  }
}
